:root {
    --my-dark-bg: #0d2337;
    --my-gold: #fe8d00;
    --my-lightgray: #e9e5e5;
    --my-darkgray: #575757;
    --my-light:#f1f1f1;
}

/* REGOLE GENERALI */
img {
    width: 100%;
}

/* PRIMARY-HEADER */
#primary-header {
    height: 70px;
}

#primary-header img {
    height:35px;
}

#primary-header .search-box {
    background-color: var(--my-lightgray);
}

#primary-header input {
    border: none;
    background-color: transparent;
}

#primary-header input:focus-visible {
    outline:none;
}

.golden {
    color: var(--my-gold);
}

/* MAIN */

main {
    height: calc(100vh - 70px);
    overflow: hidden;
}

/* ASIDE */
aside {
    background-color: var(--my-dark-bg);
}

aside .row {
    margin-right: 0;
}

/* MAIN SECTION */
#main-section {
    overflow-y: auto;
}

/* MAIN SECTION HEADER */
#main-section header .badge {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 0.9rem;
}

/* MAIN CONTENT */

#main-section #main-content table span.rounded-pill {
    background-color: #f16451;
}

#main-section #main-content table td:not(:first-child),
#main-section #main-content table th:not(:first-child)
 {
    text-align: center;
}

.card-title {
    background-color: var(--my-light);
}

.avatar-img {
    width: 30px;
    border-radius: 50%;
}